extends layout

block content
  h3.padded Add New Post
  form(method="POST")
    .group
      label(for="author_id") Author ID
      input(type="number" placeholder="enter the author" name="author_id" value=data && data.author_id required)
      if errors && errors.author_id
        #titleError.error= errors.author_id
    .group
      label(for="content") Content
      input(type="text" placeholder="Post content" name="content" value=data && data.content(value="")  required)
      if errors && errors.content
        #titleError.error= errors.content

    button(type="submit") Save New POST